{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="form-container">
  <form method=post>
    {{ render_field(form.first_name) }}
    {{ render_field(form.family_name) }}
    {{ render_field(form.gender_iso) }}
    {{ render_field(form.birthdate) }}
    {{ render_field(form.reside_with_both_parents) }}
    {{ render_field(form.reside_schedule) }}
    <div class="row"><input type="submit" value="{{ _('Create') }}" /></div>
  </form>
</div>
{% endblock %}
